/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20% auto;
    padding: 25px 50px;
    background-color: #413333;
    width: 50%;
    border-radius: 18px;
}


.nav-item {
    color: #beb9b9;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 40px;
}

.nav-item:nth-child(3){
    color: aqua;
}